In [61]:
import pandas as pd
import eurostat

In [62]:
# Descargar datos sobre poblaci√≥n total
population_data = eurostat.get_data_df('demo_find')

# Ver las primeras filas del DataFrame
fertility_rate = pd.DataFrame(population_data)

link = 'https://ec.europa.eu/eurostat/databrowser/view/DEMO_FIND__custom_684440/bookmark/table?lang=en&bookmarkId=2343b920-02c9-480b-9854-4195c16a17bf'

In [63]:
fertility_rate

,freq,indic_de,geo\TIME_PERIOD,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,A,AGEMOTH,AD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,AGEMOTH,AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.50,27.70,27.80,27.90,28.20,28.40,28.60,NaN,29.0,29.2
2,A,AGEMOTH,AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26.80,27.00,27.00,27.10,27.30,NaN,NaN
3,A,AGEMOTH,AT,27.6,27.5,27.5,27.4,27.4,27.3,27.1,...,30.20,30.30,30.40,30.60,30.60,30.70,30.90,31.00,31.0,31.2
4,A,AGEMOTH,AZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.80,25.80,25.60,25.60,25.50,25.60,25.60,25.60,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,A,TOTFERRT,SM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,A,TOTFERRT,TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.09,2.08,2.17,2.14,2.11,2.07,1.99,1.88,NaN,NaN
639,A,TOTFERRT,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.53,NaN,1.46,1.36,1.35,1.26,1.20,1.14,NaN,NaN
640,A,TOTFERRT,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.92,1.83,1.81,1.80,1.79,1.74,1.68,NaN,NaN,NaN
641,A,TOTFERRT,XK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.66,1.65,1.61,1.55,NaN,NaN

### Hacemos que os valores sean legibles segun los parametros de Eurostat

In [64]:
metrics = {
    "AGEMOTH": "Mean age of women at childbirth",
    "AGEMOTH1": "Mean age of women at birth of first child",
    "AGEMOTH2": "Mean age of women at birth of second child",
    "AGEMOTH3": "Mean age of women at birth of third child",
    "AGEMOTH4_MAX": "Mean age of women at birth of fourth and higher order child",
    "LBIRTHR1PC": "Percentage first order live births",
    "LBIRTHR2PC": "Percentage second order live births",
    "LBIRTHR3PC": "Percentage third order live births",
    "LBIRTHR4_MAXPC": "Percentage fourth and higher order live births",
    "MEDAGEMOTH": "Median age of women at childbirth",
    "NMARPCT": "Proportion of live births outside marriage",
    "TOTFERRT": "Total fertility rate"
}

In [65]:
countries = {
    "EU27_2020": "European Union - 27 countries (from 2020)",
    "EU28": "European Union - 28 countries (2013-2020)",
    "EU27_2007": "European Union - 27 countries (2007-2013)",
    "EA20": "Euro area ‚Äì 20 countries (from 2023)",
    "EA19": "Euro area - 19 countries  (2015-2022)",
    "BE": "Belgium",
    "BG": "Bulgaria",
    "CZ": "Czechia",
    "DK": "Denmark",
    "DE": "Germany",
    "DE_TOT": "Germany including former GDR",
    "EE": "Estonia",
    "IE": "Ireland",
    "EL": "Greece",
    "ES": "Spain",
    "FR": "France",
    "FX": "Metropolitan France",
    "HR": "Croatia",
    "IT": "Italy",
    "CY": "Cyprus",
    "LV": "Latvia",
    "LT": "Lithuania",
    "LU": "Luxembourg",
    "HU": "Hungary",
    "MT": "Malta",
    "NL": "Netherlands",
    "AT": "Austria",
    "PL": "Poland",
    "PT": "Portugal",
    "RO": "Romania",
    "SI": "Slovenia",
    "SK": "Slovakia",
    "FI": "Finland",
    "SE": "Sweden",
    "EEA31": "European Economic Area (EU28 - 2013-2020 and IS, LI, NO)",
    "EEA30_2007": "European Economic Area (EU27 - 2007-2013 and IS, LI, NO)",
    "EFTA": "European Free Trade Association",
    "IS": "Iceland",
    "LI": "Liechtenstein",
    "NO": "Norway",
    "CH": "Switzerland",
    "UK": "United Kingdom",
    "BA": "Bosnia and Herzegovina",
    "ME": "Montenegro",
    "MD": "Moldova",
    "MK": "North Macedonia",
    "AL": "Albania",
    "RS": "Serbia",
    "TR": "T√ºrkiye"
}

### Renombramos columnas

In [66]:
fertility_rate.rename({'indic_de': 'Demographic indicator'}, axis=1, inplace=True)

In [67]:
fertility_rate.rename({'geo\TIME_PERIOD': 'Countries'}, axis=1, inplace= True)

In [68]:
fertility_rate.rename({'freq': 'Frequency'}, axis=1, inplace= True)

In [69]:
fertility_rate

,Frequency,Demographic indicator,Countries,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,A,AGEMOTH,AD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,AGEMOTH,AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.50,27.70,27.80,27.90,28.20,28.40,28.60,NaN,29.0,29.2
2,A,AGEMOTH,AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26.80,27.00,27.00,27.10,27.30,NaN,NaN
3,A,AGEMOTH,AT,27.6,27.5,27.5,27.4,27.4,27.3,27.1,...,30.20,30.30,30.40,30.60,30.60,30.70,30.90,31.00,31.0,31.2
4,A,AGEMOTH,AZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.80,25.80,25.60,25.60,25.50,25.60,25.60,25.60,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,A,TOTFERRT,SM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,A,TOTFERRT,TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.09,2.08,2.17,2.14,2.11,2.07,1.99,1.88,NaN,NaN
639,A,TOTFERRT,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.53,NaN,1.46,1.36,1.35,1.26,1.20,1.14,NaN,NaN
640,A,TOTFERRT,UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.92,1.83,1.81,1.80,1.79,1.74,1.68,NaN,NaN,NaN
641,A,TOTFERRT,XK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.66,1.65,1.61,1.55,NaN,NaN

### Las mapeamos con un diccionario para colocar valores explicables

In [70]:
fertility_rate['Countries'] = fertility_rate['Countries'].map(countries)

In [71]:
fertility_rate['Demographic indicator'] = fertility_rate['Demographic indicator'].map(metrics)

In [72]:
fertility_rate['Frequency'] = fertility_rate['Frequency'] = 'Annual'

In [73]:
fertility_rate

,Frequency,Demographic indicator,Countries,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Annual,Mean age of women at childbirth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Annual,Mean age of women at childbirth,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.50,27.70,27.80,27.90,28.20,28.40,28.60,NaN,29.0,29.2
2,Annual,Mean age of women at childbirth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26.80,27.00,27.00,27.10,27.30,NaN,NaN
3,Annual,Mean age of women at childbirth,Austria,27.6,27.5,27.5,27.4,27.4,27.3,27.1,...,30.20,30.30,30.40,30.60,30.60,30.70,30.90,31.00,31.0,31.2
4,Annual,Mean age of women at childbirth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.80,25.80,25.60,25.60,25.50,25.60,25.60,25.60,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,Annual,Total fertility rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,Annual,Total fertility rate,T√ºrkiye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.09,2.08,2.17,2.14,2.11,2.07,1.99,1.88,NaN,NaN
639,Annual,Total fertility rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.53,NaN,1.46,1.36,1.35,1.26,1.20,1.14,NaN,NaN
640,Annual,Total fertility rate,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.92,1.83,1.81,1.80,1.79,1.74,1.68,NaN,NaN,NaN
641,Annual,Total fertility rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.66,1.65,1.61,1.55,NaN,NaN

### Eliminamos las filas cuyos paises sean nulos

In [74]:
fertility_rate = fertility_rate.loc[fertility_rate['Countries'].notna()]

In [75]:
fertility_rate

,Frequency,Demographic indicator,Countries,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Annual,Mean age of women at childbirth,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.50,27.70,27.80,27.90,28.20,28.40,28.60,NaN,29.00,29.20
3,Annual,Mean age of women at childbirth,Austria,27.60,27.50,27.50,27.40,27.40,27.30,27.10,...,30.20,30.30,30.40,30.60,30.60,30.70,30.90,31.00,31.00,31.20
5,Annual,Mean age of women at childbirth,Belgium,28.00,27.90,27.90,27.80,27.70,27.60,27.50,...,30.00,30.20,30.30,30.40,30.50,30.60,30.70,30.80,30.80,31.00
6,Annual,Mean age of women at childbirth,Bulgaria,25.10,25.10,25.10,25.00,24.90,24.80,24.70,...,27.10,27.10,27.30,27.40,27.60,27.60,27.70,27.80,27.80,27.90
8,Annual,Mean age of women at childbirth,Switzerland,28.70,28.10,27.90,27.80,27.80,27.70,27.70,...,31.50,31.60,31.80,31.80,31.90,31.90,32.00,32.10,32.20,32.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,Annual,Total fertility rate,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.91,1.89,1.88,1.85,1.85,1.78,1.76,1.71,1.67,1.67
635,Annual,Total fertility rate,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.58,1.55,1.58,1.57,1.58,1.62,1.60,1.61,1.59,1.64
636,Annual,Total fertility rate,Slovakia,3.04,2.96,2.83,2.92,2.89,2.78,2.66,...,1.34,1.34,1.37,1.40,1.48,1.52,1.54,1.57,1.59,1.63
638,Annual,Total fertility rate,T√ºrkiye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.09,2.08,2.17,2.14,2.11,2.07,1.99,1.88,NaN,NaN
640,Annual,Total fertility rate,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.92,1.83,1.81,1.80,1.79,1.74,1.68,NaN,NaN,NaN

### Hacemos subtablas de cada m√©trica y las guardamos en un csv

In [80]:

unique_values = fertility_rate['Demographic indicator'].unique()
subtables = {}
for value in unique_values:
    subtable = fertility_rate[fertility_rate['Demographic indicator'] == value]
    subtables[value] = subtable

In [79]:
for value, subtable in subtables.items():
    filename = f'./data/{value}.csv'
    subtable.to_csv(filename, index=False)
    print(f"Guardado: {filename}")

Guardado: ./data/Mean age of women at childbirth.csv
Guardado: ./data/Mean age of women at birth of first child.csv
Guardado: ./data/Mean age of women at birth of second child.csv
Guardado: ./data/Mean age of women at birth of third child.csv
Guardado: ./data/Mean age of women at birth of fourth and higher order child.csv
Guardado: ./data/Percentage first order live births.csv
Guardado: ./data/Percentage second order live births.csv
Guardado: ./data/Percentage third order live births.csv
Guardado: ./data/Percentage fourth and higher order live births.csv
Guardado: ./data/Median age of women at childbirth.csv
Guardado: ./data/Proportion of live births outside marriage.csv
Guardado: ./data/Total fertility rate.csv